
/*  DEBUG GENERICO SQUAREBOX */
.square {
    background-color: #2F81F7;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}


.square .box {
    background-color: #2ff72f;
    color: white;
    border: 1px solid  #2F81F7;
    text-align: center; 
}


.windbottom{
    margin-bottom: 20px;
}

.empti{
    padding: 15px;
}

